body {
    font-family: 'Orbitron', monospace;
    color:black;
    background-color:white;
}
.todo-container {
    width:300px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    background: black;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content:space-between;
}
.completed {
    text-decoration: line-through;
    color: gray;
}

.submitFrm {
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
    color: black;
    padding: 7px 14px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.submitBtn  {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 7px 14px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}